@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply border-2 rounded-xl m-0 p-4 bg-background shadow-xl;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(107, 107, 107, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
